body {
    margin: 0;
    background: #F4F1F5;
}
.navbar{
    background: #2D304B;
    width: 100%;
    height: 5rem;
    justify-content: flex-start;
    display: flex;
}
.item {
    width: 8rem;
    height: auto;
    color: #D3D3D3;
    padding: 1rem;
    position: relative;
}
.item:after {
    content : "";
    position: absolute;
    right    : 0;
    bottom  : 25%;
    height  : 60%;
    width   : 1px;
    border-right:1px solid #D3D3D3;
}
ul {
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    padding-inline-start: 0;
}
li {
    float: left;
    margin-left: 0.1%;
    background: #E73C4E;
}

